<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468624566094-9g9bbb7j12h4m7obk5nl4jcun42bqrlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468624566094-9g9bbb7j12h4m7obk5nl4jcun42bqrlu</string>
	<key>API_KEY</key>
	<string>AIzaSyDQZSYiPflABnY7zvUihEoQOu0AFlUe9SU</string>
	<key>GCM_SENDER_ID</key>
	<string>468624566094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tohamy.chetChat</string>
	<key>PROJECT_ID</key>
	<string>chetchat-6b5e0</string>
	<key>STORAGE_BUCKET</key>
	<string>chetchat-6b5e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468624566094:ios:e52ac71ae5a842e6</string>
	<key>DATABASE_URL</key>
	<string>https://chetchat-6b5e0.firebaseio.com</string>
</dict>
</plist>